@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.header {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  background: antiquewhite;
}

a {
  text-decoration: none;
}

.logo {
  font-family: 'Pacifico', cursive;
  text-decoration: none;
  color: orangered;
}

.logo:hover {
  transform: scale(1.02);
}