.results {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 50px 60px;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.header div {
  display: flex;
  gap: 20px;
}