.form {
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  width: 300px;
  border: 2px dotted orangered;
  border-radius: 5px;
  padding: 5px;
  background: antiquewhite;
  gap: 20px;
  align-items: center;
}
.form > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.label {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.suggestBlock {
  position: absolute;
  width:  30vw;
  height: 110px;
  background: white;
  transform: translate(130px, 20px);
  border: 1px solid black;
}

.suggestBlock > option {
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.suggestBlock > option:hover {
  text-decoration: underline;
  cursor: pointer;
}